{% extends 'layout.html' %}

{% block title %}Информация о растении{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2 class="text-center text-success mb-4">{{ plant.plant_type.name }} 🌱</h2>

    <div class="card shadow-sm p-4 mb-4">
        <h5>Тип растения: <span class="fw-bold">{{ plant.plant_type.category.name }}</span></h5>
        <h5>Город: <span class="fw-bold">{{ plant.city }}</span></h5>
        {% if plant.plant_type.description %}
        <p class="mt-2">{{ plant.plant_type.description }}</p>
        {% endif %}
    </div>

    {% if waterings %}
    <div class="mt-4 mb-4">
        <h6>История полива:</h6>
        {% for watering in waterings|dictsortreversed:"date"|slice:":3" %}
        <p class="mb-2 small">
            {{ watering.date }}: <strong>{{ watering.water_amount }} л/м²</strong>
            <span class="text-muted">- {{ watering.note|truncatechars:25 }}</span>
        </p>
        {% endfor %}
    </div>
    {% else %}
    <div class="alert alert-info mt-4 mb-4">
        <small>Истории полива пока нет. Зайдите в рекомендации по поливу.</small>
    </div>
    {% endif %}

    <div class="row mt-4">
        <div class="col-md-6 d-flex flex-column align-items-start mb-3">
            <a href="{% url 'watering_detail' plant.pk %}" class="btn btn-info btn-sm text-white">
                Посмотреть рекомендации по поливу
            </a>
        </div>

        <div class="col-md-6 d-flex flex-column align-items-start mb-3">
            <a href="{% url 'protection_detail' plant.pk %}" class="btn btn-warning btn-sm">
                Посмотреть рекомендации по защите от вредителей и болезней
            </a>
        </div>
    </div>

    <div class="mt-5 text-center">
        <a href="{% url 'plant_list' %}" class="btn btn-outline-success">Назад к моим растениям</a>
    </div>
</div>
{% endblock %}